function fn(arr, arg) {
    var result = ({
        indexOf: false,
        toString: '',
    });
    result.indexOf = arr.indexOf(arg) > -1;
    result.toString = arr.join(",");
    return (result)
};
function indeOf(target,value){
    console.log(111111111111)
    return target.indexOf(value)
}
module.exports.fn = fn 
module.exports.indeOf = indeOf 